.wait-pay-result {
  margin: auto;
  box-shadow: 0px 4px 8px 0px #00000040;
  background: #ffffff;
  width: 290px;
  padding: 24px;
  gap: 12px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wait-pay-result-close {
  min-height: 25px;
  min-width: 25px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.wait-pay-result-loading {
  display: block;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wait-pay-result-message {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
